<%= render 'shared/errors', obj: @location %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= simple_form_for(@location, html: { multipart: true }) do |f| %>
      
      <%= f.input :name %>
      
      
      <%= f.input :description, as: :text %>

    <%= f.association :cuisines,   as: :check_boxes %>



      
      
      
      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>
      
      <%= f.submit(@location.new_record? ? 'Create Location' : 'Edit Location', class: "btn btn-success") %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  
  $('#location_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB.Please choose a smaller file');
    }
  });
  
</script>