<%= render 'shared/page_title', title: "All Locations" %>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to 'All locations', locations_path %>
  </li>
  <li>
    <%= link_to 'Restaurants', ' ' %>
  </li>
  <li>
    <%= link_to 'Bars', ' ' %>
  </li>
  <li>
    <%= link_to 'Clubs', ' ' %>
  </li>
</ul>

<%= will_paginate %>

<% @locations.each do |location| %>
  <div class="row">
    
    <div class="col-md-2">
      <section class="user_info center">
        
        <h5>Name: <%= location.name %></h5>
      </section>
    </div>
    
    <div class="col-lg-6 well">
      
      <h4><%= link_to location.name, location_path(location) %></h4>
      <% if location.cuisines.any? %>
        <p>Cuisine: <%= render location.cuisines %></p>
      <% end %>
      <p>
        <span class="quiet"><small>Created: <%= time_ago_in_words(location.created_at) %> ago, </small></span>
        <span class="quiet"><small>Updated: <%= time_ago_in_words(location.updated_at) %> ago</small></span>
      </p>
      <div class="pull-right">
        <%= link_to like_location_path(location, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= location.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_location_path(location, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= location.thumbs_down_total %>
        <% end %>
      </div>
    </div>
    
    <div class="col-md-4">
      <%= image_tag(location.picture.url, size: "250x150", class: "gravatar") if location.picture? %>
    </div>
    
  </div>
  <hr/>
<% end %>

<%= will_paginate %>